<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet"> 
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/custom.css">
<title>Depan | #suwung</title>
</head>
<body>

<div class="container">

	<header role="banner">
	<h1>#suwung</h1>
	</header>
	
	<main role="main">
{{ range .Paginator.Pages }}

			<h2 class="entry-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>

{{ end }}
<br><br>
{{ $pag := $.Paginator }}
		<span style="font-weight:bold">hlm. {{$pag.PageNumber}}/{{$pag.TotalPages}}</span>
{{ if gt $pag.TotalPages 1 }}

	{{ if not $pag.HasPrev }}
	{{ else }}

	<a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" class="page-link" aria-label="Previous">-</a>
	{{ end }}
	{{ if not $pag.HasNext }}
	{{ else }}
    <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" class="page-link" aria-label="Next">+</a>
	{{ end }}
{{ end }}
	</main>
	<footer role="contentinfo">
		<div class="hr"></div>
		<div class="footer-link">
		
			<a href="https://suwung.men">suwung.men</a> | <a href="mailto:sukualam@gmail.com">kontak</a>
		</div>
		<div class="copyright">Copyleft 2018</div>
	</footer>

</div>

</body>
</html>
